.container {
  margin-top: 0px;
  background-image: url(../../assets/table.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
}

.header-logo {
  text-align: left;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px 5px 10px;
}

.input-box {
  width: 300px;
  height: 20px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  outline-width: 0;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 10px;
  opacity: 0.8;
}

.room-input {
  text-align: center;
  display: block;
  margin: 40px auto;
  color: white;
  border-radius: 5px;
  /* background-color: #f5f5f7; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  max-width: 400px;
  -webkit-box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63);
  box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63);
}

::placeholder {
  color: white;
  opacity: 0.8;
}

.submit-btn {
  display: block;
  width: 140px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 1px;
  font-size: 1rem;
  margin-top: 20px;
  padding: 14px 30px;
}

.switch {
  display: flex;
  justify-content: center;
  height: 0px;
  padding-bottom: 25px;
}

.switch-active {
  color: #317ddd;
}

@media only screen and (max-width: 800px) {
  .input-box {
    width: 200px;
    height: 10px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    outline-width: 0;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    opacity: 0.8;
  }
  .container {
    background-image: url(../../assets/table.jpg);
    margin-top: 0;
    background-size: cover;
    width: 100%;
  }
  .asd {
    height: 5px;
  }
  .room-input {
  text-align: center;
  display: block;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  /* background-color:transparent; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  max-width: 300px;
    /* -webkit-box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63);
  box-shadow: 6px 5px 61px -1px rgba(0, 0, 0, 0.63); */
  }
}

.chips {
  display: block;
  text-align: center;
}
.pokerchip {
  margin: 0.5em;
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  background: #555;
  border-radius: 50%;
  position: relative;
  border: 0.5em dashed white;
  transition: all 0.5s ease;
  backface-visibility: hidden;
}

.pokerchip.red {
  background: #dd4631;
  text-align: center;
  color: black;
}

.pokerchip.blue {
  background: #317ddd;
}

.pokerchip.iso {
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
  box-shadow: -1px 1px 0px #555, -2px 2px 0px #555, -3px 3px 0px #555,
    -4px 4px 0px #555, -5px 5px 0px #555, -6px 6px 10px #555;
}
.pokerchip.iso:hover {
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg)
    translateZ(0.5em);
}
